# Dependencies
node_modules/

# Environment variables
.env
.env.local

# TypeScript
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
